@model UsuarioModel
@{
  ViewData["Title"] = "Excluir usuário";
}

<div class="text-center">
  <h3>Deseja realmente apagar o usuário (@Model.Nome) ?</h3>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Usuario" asp-action="Index">Cancelar</a>
<a class="btn btn-danger btn-block" role="button" asp-route-id="@Model.Id" asp-controller="Usuario" asp-action="Excluir">Confirmar</a>