@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não term permissão para acessar esta funcionalidade, <a asp-controller="Home" asp-action="Index">clique aqui para voltar para Home.</a></p>